body {
  background-color: #f2f2f2;
}

.carrito {
  width: 24px;
  height: 24px;
}
.linkX{
  width: 10%;
  text-decoration: none;
}
.LinkNav{
  margin-top: 2%;
  text-decoration: none;
  color: #9A9A9D;
}
.LinkNav:focus{
  text-decoration: underline;
  color:#FA4A0C ;
}
.GoHome{
  text-decoration: none;
  background: tomato;
  border-radius: 4px;
  padding: 1%;
  color:white;
}